.divformulario {
    grid-area: formulario;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.fefo {
    color: white;
}