.tituloRedes {
    @extend .textos;
    background-color: map-get($estilosGenerales, color );
}

.redesFoto {

    @include sizes(20px, 25px);
    display: flex;
    align-items: center;
    flex-direction: column;
}